
.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    
  }

  
.imagem-container {
  position: relative;
}

.imagem-container img {
  width: 100%;
  border-radius: 8px;
}

/* Selo */
.selo {
  position: absolute;
  top: 2px;
  left: 10px;
  background-color: #ff5252;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
  z-index: 2;
}
  .containerDestaques h2{
      color: rgb(8, 8, 8);
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  }

  h3{
  color: rgb(8, 8, 8);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  }

  h4{
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
  }
  .Card img{
  height: 300px;
  width: 100%;
  max-width: 240px;
  }
  .Card p{
  color: #000000;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
  }

  .precotamanho{
     color: red;
  font-size: 1.1rem;
  font-weight: 600;
  }
  .parcelamentotamanho {
  color: red;
  font-size: 0.9rem;
  font-weight: 600;
  }
  
  .Card {
    text-align: center;
    max-width: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

  }


  
  button {
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    width: 150px;
    margin-top: 5px;
  background-color: #0f0b27;
  }

  button:hover{
      background-color: rgb(19, 19, 82);

  }
  
.botao-categoria {
  background-color:rgb(24, 24, 58);
  color: white;
  padding: 6 px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 200px;
}

.botoes-categorias {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.categoria-dropdown {
  position: relative;
  display: inline-block;
}

.botao-categoria:hover {
  background-color: #00C897; /* rosa neon ou qualquer outra cor que combine */
  transform: scale(1.05);
}

.botao-categoria.ativo {
  background-color: #00C897;
  color: #fff;
}


.submenu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
  z-index: 1000;
  min-width: 150px;
}

.submenu li {
  padding: 10px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.categoria-dropdown:hover .submenu {
  display: block;
}
  
.tamanhoSelector {
  margin: 10px 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.tamanhoSelector label {
  font-size: 14px;
  font-weight: bold;
}

.tamanhoSelector select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  display: none;
}
.cores {
  display: none;
  gap: 8px;
  margin-bottom: 8px;
}

.cor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 767px) {
.produtos{
width: 100%;
}

.Card{
flex-direction: column;
display: flex;
}

}