.container {
  padding: 10px;
  width: 100%;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.detalhes-flex {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  /* para responsividade */
  flex-wrap: wrap;
}

.imagem-grande {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}


 h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 1px;
  margin-left: 5px;
  font-weight: bold;
}

select{
display: flex;
border-radius: 10px;
width: 50px;
font-weight: 800;

}
option{
color: #000;
font-size: 1.2rem;
font-weight: 800;
}

 p {
  font-size: 0.9rem;
  color: #000;
  font-weight: 500;
    margin: 0; /* remove espaçamento vertical padrão */

}

strong{
color: rgb(255, 0, 0);
}

.preco {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}
.alinharcolumn{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}
.alinharbuttons{
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
  justify-content: center;
}

.cores-lista {
  display: flex;
  gap: 10px;
}

.cor-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s, border-color 0.3s;
}

.cor-item:hover {
  transform: scale(1.1);
}

.cor-item.selecionada {
  border-color: #000; /* destaque para cor selecionada */
}

 .quantidade-controle button{
padding: 10px;
border-radius: 10px;
width: 60px;
background-color: #121028;
}
 .addcarrinho{
  width: 250px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #333;
}

.favoritos{
   border-radius: 50%;
width: 50px;
margin-left: 15px;
display: flex;
align-items: center;
justify-content: center;
}

.especificacoesProdutos {
  padding: 4px 10%; /* Reduz o padding lateral para puxar mais à esquerda */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o conteúdo do flex à esquerda */
}



.centralizarbuttons{
display: flex;
justify-content: center;
align-items: center;
}

.containerAvaliacoes{
display: flex;
flex-direction: column;
   }

   .avaliacaoEstrelas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
    width: 200px;
height: 40px;
   }

.avaliacaoEstrelas option{
  color: rgb(176, 176, 45);
  width: 50px;
  height: 140px;
}

.avaliacoes{
display: flex;
align-items: center;
justify-content: center;
}

.avaliacoes textarea{
width: 80%;
height: 40px;
margin-left: 20px;
border-radius: 5px;
}

.avaliacoes button{
background-color: #333;
color: rgb(255, 255, 255);
padding: 10px;
width: 100px;
font-size: 1.1rem;
margin-left: 20px;
}