 .home-text h2{
    color: #ffffff;
    text-align: center;
    font-size: 1.9rem;
    text-shadow: 2px 2px 5px rgba(0,0,0);

    }

.home-text p{
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}
    
.container-home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .slideshow {
  width: 100%;
  height: 800px; /* ocupa a altura inteira da tela */
  position: relative;
}

.slideshow-img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}


.home-text {
    position: absolute;
    bottom: 0; /* coloca o texto no fim da imagem */
    left: 0;
    width: 100%;
    padding: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5); /* corrigido */
    transform: none; /* remove o deslocamento vertical */
  }
  
  @media (max-width:767px){
  .home-text{
  padding: 4px 4px;
  }

  h2{
    font-size: 1.2rem;
  }
  p{
  font-size: 0.9rem;
  }
  }
  