 .home-text h2{
    color: #ffffff;
    text-align: center;
    font-size: 1.9rem;
    text-shadow: 2px 2px 5px rgba(0,0,0);

    }

.home-text p{
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}
    
.container-home {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .slideshow {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slideshow-img {
  width: 100%;
  height: auto;
  display: block;;
}


.home-text {
    position: absolute;
    bottom: 0; /* coloca o texto no fim da imagem */
    left: 0;
    width: 100%;
    padding: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5); /* corrigido */
    transform: none; /* remove o deslocamento vertical */
  }
  
  @media (max-width:767px){
    .container-home img{
   width: 100%;
    object-fit: contain;    /* mantém proporção e preenche a tela */
    display: block;      

    }
  .home-text{
  }

   .home-text h2{
    font-size: 1.2rem;
  }
   .home-text p{
  font-size: 0.9rem;
  }
  }

  /* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 

   .container-home img{
   width: 100%;
    object-fit: contain;    /* mantém proporção e preenche a tela */
    display: block;    
        overflow: hidden;
 

    }

}

  