/* Login.css */

.ContainerLogin {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px 25px;
  box-shadow: 2px 2px 2px 2px  rgb(0, 0, 0);
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #333;
}

.ContainerLogin h2 {
  margin-bottom: 24px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.9rem;
}

.ContainerLogin input {
  width: 100%;
  padding: 12px 14px;
  margin: 12px 0;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.ContainerLogin input:focus {
  border-color: #0070f3;
  outline: none;
}

 .ContainerLogin button {
  width: 100%;
  padding: 14px 0;
  margin-top: 20px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #0f1330;
}

 .ContainerLogin button:hover {
  background-color: #2d4257;
}

.ContainerLogin p {
  margin-top: 18px;
  font-weight: 600;
  color: #d32f2f; /* vermelho para erros */
}

li{
  list-style: none;
  color: white;
  font-size: 1.1rem;
  margin-top: 10px;
}
.logarRedesSocias{
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
gap: 18px;
margin-top: 2px;
}

